<h4>Add youtube video ID</h4>
<% if(message) { %>
<p>Added ID: <%= vId %></p>    
<% } %>
<form method="post">
    <label>Youtube Video Id</label>
    <input type="text" name="videoId">
    <br>

    <input type="submit" value="Add">
</form>